.conteiner{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

/* Header Start  */
header{
    display: flex;
    align-items: center;
    padding: 0.56% 2.01% 0.28% 6.39%;

    
}



.pagename{
font-size: 18px;
line-height: 27.9px;
color: #FA793C;
font-family: 'Pridi', serif;
margin-left: 14px;
margin-right: 828px;

}

nav{
    width: 252px;
}
ol{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18.91px;
    font-weight: 400;
    color: #000000;
    font-family: 'Pridi', serif;
}
.fa-circle-user{
    color: black;
    font-size: 24px;
    margin-left: 40px;
}
/* Header end  */


/* Section Start  */
.main_section{
background-image: url(../imgs/main\ banner.png);
background-color: cadetblue;
padding: 10.4861% 54.027% 16.1805% 9.027% ; 
/* ამის %-ში ჩაწერას ააქვს აზრი რესპონსივისთვის? თუ ისევ პიქსელებში ჩავწერო? */

}

h1{
    font-weight: 400; 
    /* fonts.google.com-იდან თუ ეგრევე 400-იან weight-ფონტი მომაქვს აქ უნდა მაინც დაწერა? */
    font-size: 50px;
    line-height: 74.75px;
    color: #FFFFFF;
    font-family: 'Pridi', serif;
}
.main_section_P{
    margin-top: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.92px;
    color: #FFFFFF;
    font-family: 'Pridi', serif;
}